@tailwind base;
@tailwind components;
@tailwind utilities;

*,::before,::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-shadow-acceuil {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .right-localisation-club-map {
    right: 187px;
  }
  .hauteur-debut-page {
    height: calc(100vh - 288px);
  }
}